<div class="container" *ngIf="clients.length != 0"> 
    <h2 style="text-align: center;">Clients list</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr style="text-align-last: center;">
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">DNI</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col" style="width: 50px;"></th>
                <th scope="col" style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 40px; text-align-last: center;" *ngFor="let client of clients">
                <th>{{ client.clientId }}</th>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.dni }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.address }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="modifyClient(client)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteClient(client)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>